<div class="search-container">

<form [formGroup]="searchForm" (ngSubmit)="onSearch()" class="flight-search-bar">

  <div class="form-field">
    <label>From</label>
    <select formControlName="source">
      <option value="">Select</option>
      <option *ngFor="let loc of locations"
              [value]="loc.code"
              [disabled]="loc.code === searchForm.get('destination')?.value">
        {{ loc.code }} - {{ loc.name }}
      </option>
    </select>
  </div>

  <div class="form-field">
    <label>To</label>
    <select formControlName="destination">
      <option value="">Select</option>
      <option *ngFor="let loc of locations"
              [value]="loc.code"
              [disabled]="loc.code === searchForm.get('source')?.value">
        {{ loc.code }} - {{ loc.name }}
      </option>
    </select>
  </div>

  <div class="form-field">
    <label>Date of Travel</label>
    <input type="date" formControlName="date" [min]="minDate" />
  </div>

  <div class="form-field">
    <label>Passengers</label>
    <input type="number" formControlName="passengers" min="1" />
  </div>

  <button class="search-btn" type="submit">Search ➤</button>

</form>
</div>